<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:cxf="http://cxf.apache.org/core"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
           http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
           http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
<!--
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
-->
	<context:annotation-config />
	<context:component-scan base-package="fi.bilot"/>

	<jaxrs:server id="restContainer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="orderService"/>
			<ref bean="flightService"/>
			<ref bean="flightListService"/>
			<ref bean="userService"/>
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings> 
            <entry key="xml" value="application/xml" /> 
            <entry key="json" value="application/json" /> 
        </jaxrs:extensionMappings> 
        <jaxrs:providers>
	        <bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
	    </jaxrs:providers>
	</jaxrs:server>

	<bean id="orderService" class="fi.bilot.order.OrderService"/>
	<bean id="flightService" class="fi.bilot.flight.FlightService"/>
	<bean id="flightListService" class="fi.bilot.flightlist.FlightListService"/>
	<bean id="userService" class="fi.bilot.user.UserService"/>
 
</beans>